.body_area_0 {
  background-color: lightseagreen;
  display: flex;
  align-items: center;
  width: 100vw;
  height: 300px;
}

.super-link{
  position: relative;
  text-decoration: none;
  color: #000;
}

.super-link::after{
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: currentColor;
  transform: scale(0);
  transition:all .35s;
}
.super-link:hover::after{
  transform: scale(1);
}
.left::after{
  transform-origin: left;
}
.right::after{
  transform-origin: right;
}
.center::after{
  transform-origin: center;
}
