.body_area_0 {
  background-color: white;
  width: 100vw;
  height: 525px;
}

.area0_title {
  color: #404040;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  width: 100vw;
  height: 38.46px;
  margin:0px;
  margin-bottom: 20px;
  padding: 0px;
  padding-top: 40px;
}

.area_intro_area {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 70px;
  margin: 0px;
  margin-bottom: 20px;
  padding: 0px;
}

.area_intro_text {
  color:#777777;
  font-size:14px;
  text-align:left;
  width: 59vw;
  height: 40px;
  margin-right:auto;
  margin-left:auto;
}

.items_block_area {
  display: flex;
  align-items: center;
  width: 72vw;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.item_block {
  text-align: center;
  width: 24vw;
  height: 300px;
  margin-top: 30px; 
  margin-left: auto;
  margin-right: auto;
}

.divider {
  background-color: #777777;
  width: 1.25px;
  height: 185px;
  opacity: 0.3;
  margin-bottom: 20px;
}

.item_image {
  background-size: cover;
  background-repeat: no-repeat;
  width:120px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.image_0 {
  background-image: url("https://www.fantuan.ca/wp-content/uploads/2018/03/store-120x120.png"); 
}

.image_1 {
  width:150px;
  background-image: url("https://www.fantuan.ca/wp-content/uploads/2018/04/people-150x120.png"); 
}

.image_2 {
  background-image: url("https://www.fantuan.ca/wp-content/uploads/2018/03/phone-120x120.png"); 
}

.item_num {
  color: #1CB9B6;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

.item_name {
  color: #777777;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 5px;
}

.item_text {
  color: #777777;
  font-size: 14px;
  margin-bottom: 20px;
}