.body_area_2 {
  background-color: white;
  width: 100vw;
  height: 525px;
}

.area2_title {
  color: #404040;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  width: 100vw;
  height: 38.46px;
  margin:0px;
  margin-bottom: 20px;
  padding: 0px;
  padding-top: 40px;
}

.block_area {
  /* background-color: lightcoral; */
  display: flex;
  align-items: center;
  width: 75vw;
  height: 425px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
}

.block {
  background-color: white;
  text-align: center;
  width: 24vw;
  height: 425px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  border-radius: 1px; 
  box-shadow: 0px 0px 2px 1.5px rgba(0,0,0,0.075);
  -webkit-transition: all .2s; 
  -moz-transition: all .2s; 
  -ms-transition: all .2s; 
  -o-transition: all .2s; 
  transition: all .2s;
}

.block:hover {
  margin-bottom: 5px;
  box-shadow: 0px -5px 15px 10px rgba(0,0,0,0.06)
}

.block_image {
  background-size: cover;
  background-repeat: no-repeat;
  width:150px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 15px;
}

.block_image_0 {
  background-image: url("https://www.fantuan.ca/wp-content/uploads/2018/03/unnamed-file-4-150x150.png"); 
}

.block_image_1 {
  background-image: url("https://www.fantuan.ca/wp-content/uploads/2018/03/unnamed-file-3-150x150.png"); 
}

.block_image_2 {
  background-image: url("https://www.fantuan.ca/wp-content/uploads/2018/03/unnamed-file-5-150x150.png"); 
}

.block_title {
  color: #1CB9B6;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 15px;
}

.block_info {
  color: #777777;
  font-size: 14px;
  text-align: left;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}